[package]
name = "rc_client"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bevy = { workspace = true }
fnv = "1.0.3"
rayon = "1.5.1"
nalgebra = { version = "0.21.0", features=["serde-serialize"] }
serde = { version = "1.0", default-features = false, features = ["derive", "std"] }
serde_json = { version = "1.0.61", default-features = false, features = ["std", "preserve_order"] }
bevy-inspector-egui = "0.14.0"
anyhow = "1.0.57"
image = "0.23.14"
zip = { version = "0.5.5", default-features = false, features = ["deflate"] }
rc_protocol = { path = "../lib/rc_protocol" }
rc_networking = { path = "../lib/rc_networking" }
thiserror = "1.0.37"